@tailwind base;
@tailwind components;
@tailwind utilities;

#gradientText {
    background: linear-gradient(90deg, #ff0000, #0000ff); /* Replace these colors with your desired gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient {
    background: linear-gradient(90deg, #ff0000, #0000ff); /* Replace these colors with your desired gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    background: linear-gradient(45deg, 
    #FF9A8C, 
    #FF6A88, 
    #FFC1A0, 
    #FFD3A6, 
    #A0E7E5, 
    #B4F8C8, 
    #85E3FF, 
    #8ED2FC
  ); /* Gradient background with multiple colors */
  
  -webkit-background-clip: text; /* Apply the gradient to the text */
  -webkit-text-fill-color: transparent;
  }
  